.AddCoupon {
	
}
.AddCoupon > form {
    width: 200px;
    text-align: left;
    margin:20px auto;
  }
  
  
  .AddCoupon button {
    width: 100%;
    box-sizing: border-box;
    
  }
  
  
  .AddCoupon h2 {
    text-align: center;
  }
  .AddCoupon{
    width: 500px;
    height: 900px;
    margin: 100px auto;
    background-color: #d9e8fc;
    border-radius: 11px;
    
  }
  .AddCoupon .errorSpan {
    position: absolute;
    color: red;
    margin-left: 20px;
  }
  