.Register > form {
  width: 200px;
  text-align: left;
  margin: auto;
}


.Register button {
  width: 100%;
  box-sizing: border-box;
  
}


.Register h2 {
  text-align: center;
  margin-top: px;
  
}
.Register{
  width: 500px;
  height: 550px;
  margin: 100px auto;
  border-radius: 9px;
  box-shadow: 10px 10px 15px;
  background-color:  #d9e8fc;
  
}
.Register .errorSpan {
  position: absolute;
  color: red;
  margin-left: 20px;
}

  
